.main-container {
    max-width: 900px;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 30px #000000;
}

.top-sec {
    width: 100%;
    height: fit-content;
    margin-top: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.user-sec {
    width: fit-content;
}

.yellow-bar {
    width: 8rem;
    height: 22rem;
    background: linear-gradient(to right, red, yellow, green, blue);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.user-cricle {
    width: 14rem;
    aspect-ratio: 1/1;
    margin-top: 40px;
    background: linear-gradient(blue, white, green, yellow);
    border-radius: 50%;
    top: 14%;
    box-shadow: rgba(50, 50, 93, 0.15) 50px 0px 80px -20px, rgba(0, 0, 0, 0.2) 30px 0px 40px -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-yelow {
    width: 80%;
    height: 80%;
    background: #ffb701;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.15) 20px 0px 50px 0px, rgba(0, 0, 0, 0.2) 30px 0px 40px -20px;
}

.under-yelow img {
    width: 100%;
    height: 99%;
    border-radius: 50%;
}

.user-name {
    margin-left: 10%;
    margin-top: -4rem;
}

.user-name h1 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    color: #424341;
}

.user-name p {
    font-size: 33px;
    color: #424341;
}

.icon {
    display: flex;
    gap: 35px;
    margin-top: 1.5rem;
}

.icon a {
    width: 28px;
    aspect-ratio: 1/1;
    background: #ffb701;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.icon a i {
    color: #fff;
}

.botton {
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.botton-left {
    width: 35%;
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.b-1 {
    width: 70%;
}

.b-1-headding {
    width: 100%;
    padding: 10px 0 10px 20px;
    background: #424341;
    border-radius: 230px;
    box-shadow: 10px 5px 25px -10px #5757579c;
}

.b-1-headding h3 {
    color: #fff;
    font-size: 18px;
}

.deatil {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 1.5rem;
}

.b-b {
    margin-top: 32px;
    color: #fff;
    width: 100%;
    padding: 10px 0 10px 20px;
    background: #424341;
    border-radius: 230px;
    box-shadow: 10px 5px 25px -10px #5757579c;
}

h4 {
    margin-top: 10px;
}

.bb {
    width: 100%;
    background: #ababab;
    border-radius: 10px;
    overflow: hidden;
}

.bb hr {
    width: 90%;
    height: 10px;
    border: none;
    background: #ffb701;
    border-radius: 5px;
}

.botton-right {
    width: 55%;
    height: 129.5vh;
    background: #000000;
    position: relative;
    margin: -0.80%;
    border-radius: 100px 0 0 0;
    padding: 4rem 15% 0rem 5%;
}

.pro p {
    color: rgb(245, 245, 245);
    margin-top: 12px;
}

.ab {
    margin-top: 3px;
    color: hsl(0, 9%, 2%);
    width: 80%;
    padding: 10px 0 10px 20px;
    background: #ffb701;
    border-radius: 230px;
    box-shadow: 10px 5px 25px -10px #5757579c;
}

.ab button {
    width: 20px;
    height: 20px;
    border-radius: 33px;
}

.btn {
    width: 20px;
    height: 20px;
    background-color: #ffb701;
    margin-top: 22px;
    border-radius: 33px;
}

.uni {
    display: flex;
    margin-top: 2px;
    align-items: center;
    margin-left: 12px;
}

.mm {
    color: #ffb701;
    display: flex;
    margin-left: 12px;
    align-items: center;
}

.abc h5 {
    color: hsl(43, 57%, 90%);
    margin-left: 4rem;
}

.bc {
    margin-top: -1px;
    color: hsl(0, 0%, 2%);
    width: 80%;
    padding: 10px 0 10px 20px;
    background: #ffb701;
    border-radius: 230px;
    box-shadow: 10px 5px 25px -10px hsla(0, 93%, 44%, 0.612);
}

.bc a {
    font-size: 22px;
}

.bc p {
    color: #080303;
    display: inline-flex;
    padding: 12px;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width:750px) {
    .yellow-bar {
        width: 6rem;
        height: 14rem;
    }
    .user-cricle {
        margin-top: 25px;
        width: 11rem;
    }
    .user-name {
        margin-left: 10%;
        margin-top: -1rem;
    }
    .user-name h1 {
        font-size: 43px;
        line-height: 53px;
    }
    .user-name p {
        font-size: 27px;
    }
    .icon {
        gap: 25px;
        margin-top: 1rem;
    }
    .icon a {
        width: 27px;
    }
    .botton {
        justify-content: flex-start;
        flex-direction: column;
    }
    .botton-left {
        width: 100%;
        padding-top: 2rem;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .botton-right {
        width: 100%;
        height: fit-content;
        margin-top: 0;
        border-radius: 0;
        padding: 4rem 5% 0rem 5%;
    }
    .b-1 {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding: 0 5%;
        flex-wrap: wrap;
    }
    .b-1-card {
        width: 300px;
    }
}

@media(max-width:500px) {
    .top-sec {
        padding-left: 10%;
    }
    .yellow-bar {
        width: 3.5rem;
        height: 11rem;
    }
    .user-cricle {
        width: 7rem;
    }
    .user-name {
        margin-left: 12%;
        margin-top: 0;
    }
    .user-name h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .user-name p {
        font-size: 20px;
    }
    .icon {
        gap: 15px;
        margin-top: 0.8rem;
    }
    .icon a {
        width: 18px;
    }
    .deatil {
        margin: 1rem 0 0 0;
    }
}
